*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: hsl(0, 3%, 15%);
    color: hsl(0, 21%, 91%);
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.title {
    -webkit-user-select: none;
    user-select: none;
    font-size: 2.5rem;
    font-weight: 700;
}

p.sub-title {
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

code {
    text-decoration: none;
    background: hsl(192, 100%, 85%);
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem 0.2rem;
    margin-inline: 0.1rem;
    border-radius: 0.2rem;
}
